body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin:0;
}


.w2ui-layout>div .w2ui-panel .w2ui-panel-tabs {

    background:#FAFAFA;
}

.w2ui-layout>div .w2ui-panel .w2ui-panel-title {
    text-align: left;
    font-size: 20px;
    text-align: center;
    color:#2fa4ea;
     background-color: #FAFAFA;
    background-image: none;
    border: none;
}
.w2ui-layout>div .w2ui-panel .w2ui-panel-tabs {
    background: none;
    margin-top: 0;
}
.w2ui-tab:hover {
    cursor: pointer;
}
.w2ui-tabs .w2ui-tab {
    background-color:#2fa4ea ;
    font-weight: 400;
    transition: background-color 500ms;
    color: #fff;
}
.w2ui-tab.active {
    transition: background-color 500ms;
    background-color: #1585c8;
    color: #1585c8 !important;
}
.w2ui-layout>div .w2ui-panel .w2ui-panel-content {
    background: #fff;
}
.w2ui-grid .w2ui-grid-header
{
    background-image: -webkit-linear-gradient(#2fa4ea,#c2d5ed);
    background-image: -moz-linear-gradient(#2fa4ea,#c2d5ed);
    background-image: -ms-linear-gradient(#2fa4ea,#c2d5ed);
    background-image: -o-linear-gradient(#2fa4ea,#c2d5ed);
    background-image: linear-gradient(#2fa4ea,#c2d5ed);

}

.table {
    background: #ffff;
}
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected {
    transition: all 200ms;
    opacity: 0.8;
    background: #2fa4ea;
    outline: none;
}
.w2ui-grid-data {
    font-size: 15px;
}
.w2ui-sidebar:hover .w2ui-sidebar-div:hover .w2ui-selected:hover {
    transition: all 200ms;
    background: #2fa4ea;
    opacity: 1;
}
.w2ui-col-header {
    background: #2fa4ea;
    color: #fff;
    font-weight: 700;
}
.w2ui-expand {
    font-weight: 700;
}
.icon {
    width: 32px !important;
    height: 32px !important;
}
.w2ui-column.col-0
{
    width:600px
}



.w2ui-field >label
{
    text-align: left;
}
 
.w2ui-field.w2ui-span6
{
    heigth:22px
}

.w2ui-field.w2ui-span6 > label
{
    width:225px
    
}
.w2ui-layout>div .w2ui-panel .w2ui-panel-tabs {

    background:#FAFAFA;
}
.w2ui-layout>div .w2ui-panel .w2ui-panel-content {
    background: #FAFAFA;
}

.h2
{
    color:#2fa4ea;
}
.h5
{
    color:#2fa4ea;
}



.modal { width: 95% !important  } 

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

.w2ui-sidebar-body {
    background: #DADADA;
}
.w2ui-grid .w2ui-grid-header {
    background-image: linear-gradient(#DADADA,#FAFAFA);
}
.w2ui-col-header
{
	  background-image: linear-gradient(#DADADA,#FAFAFA);
}


