.leaflet-tile-container {
    pointer-events: true;
    }
    
.leaflet-tile-containerNO {
    pointer-events: none;
    }
 element.style
   { 
 
    }
    
    
    .leaflet-tile {
   
    
    
   
}


leaflet-layer
{
	z-index: 10; 
}

.leaflet-tile-loaded {
    visibility: inherit;
    
     width: 256px !important;
       height: 256px !important;
    
    
    }


.bestaatnie
{
    
        width: 256px !important;
       height: 256px !important;
         border:  1px solid transparent;
           outline: 0px solid transparent;
           
       min-width: 256px !important;
       min-height: 256px !important;
      
       
        
           -webkit-font-smoothing: none;
           -webkit-text-stroke-width: none;
           user-select: none;
               position: absolute;
    left: 0;
    top: 0;
}
    
    
 
    
    
    