---
layout: default
title: Kadaster Data Science
---

<div class="flex">
  <div class="flex-content">
    <h1>Kadaster Data Science</h1>
    <p>Welcome to the Kadaster Data Science website.  This is where
    the Dutch Land Measuring Agency (Kadaster) experiments with Linked
    Data, Data Science, and Machine Learning.</p>
    <div class="cards-wrapper">
      {% for page in site.pages %}
        {% if page.layout == "case" %}
          <a href="{{page.url}}">
            <div class="card">
              <img class="card-image" alt="{{page.title}}" src="{{page.logo}}"/>
              <div class="card-title">{{page.title}}</div>
              <div class="card-description">{{page.description}}</div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
