.story > * {
  max-width: 100vw;
  box-sizing: border-box;
}
.gray {
  background: #eee;
}
hr {
  width: 75%;
}
.stories.stories-query {
  margin: unset;
}
@media only screen and (max-width: 768px) {
  p {
    text-align: justify;
  }
}

/* Alert styling */
.alert {
 position: sticky;
 display: flex;
 top: 0px;
 z-index: 1002;
 padding: 5px;
 background-color: #eaa400;
 color: white;
 margin-bottom: 3px;
 justify-content: space-between;
}

/* Close button Styling */
.closebtn-warning-IE11 {
  margin-right: 10px;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 36px;
  cursor: pointer;
  transition: 0.1s;
  line-height: 0.75;
}

.closebtn-warning-IE11:hover {
  color: black;
}

/* Title styling */
.title {
  background-color: #ccc;
  background: url(./Basiliek_van_Sint-Jan.jpg);
  height: 450px;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
}
.title > * {
  background: white;
  padding: 10px;
  border-radius: 10px;
  align-self: center;
}
/* Text with image */
.imageText {
  display: flex;
}
.imageText img {
  justify-self: right;
  align-self: center;
  height: 200px;
  padding: 1em;
  margin: 10px;
}
@media only screen and (max-width: 768px) {
  .imageText {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Gallery with element to the side */

.gallery-side > * {
  background: transparent;
}
.gallery-side .gs-content .itemWrapper {
  box-shadow: unset;
}
.gallery-side .gs-content {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .gs-content {
    flex-wrap: wrap;
  }
}
/* Two even elements side by side */
.side-by-side {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.side-by-side > * {
  width: 48%;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .side-by-side > * {
    width: 100%;
  }
}
/* Text and figure next to eachother */
.aside {
  display: flex;
  flex-direction: row;
}
.aside-text {
  width: 25%;
  padding: 1rem;
  text-align: justify;
}
.aside-figure {
  width: 75%;
}
@media only screen and (max-width: 768px) {
  .aside {
    display: flex;
    flex-wrap: wrap;
  }
  .aside.fold-right {
    flex-wrap: wrap-reverse;
  }

  .aside-text {
    width: 100%;
    min-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  .aside-figure {
    width: 100%;
    min-width: 100%;
  }
}
