h1 
{
	color : grey
}
h6 {
    font-size: 1.20rem;
    color: grey
}



.input-field .postfix ~ input { width: 80%; width:calc(100% - 3rem);  margin-left:0px; margin-right: 3rem!important; }
.input-field .postfix {
    position: absolute;
    width: 3rem;
    right: 0px;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.input-field .postfix.active {
    color: #26a69a;
}

input:disabled, textarea:disabled {
 
    cursor: default;
    color:'grey'; 
    background-color: 'rgb(105,105,105)'
}

h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: 1.5rem 0 0.46rem 0;
}

.input-field input[type=text].gedoogd {
     border-bottom: 1px solid #f72;
     box-shadow: 0 1px 0 0 #f72;
    
   }
  .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: #005eed !important;
    }
   
   
  




