.btn {
    text-decoration: unset;
    color: unset;
    background-color: unset;
    text-align: unset;
    letter-spacing: unset;
    -webkit-transition: unset;
    transition: unset;
    cursor: unset;
}



.btn {
    font-size: unset;
    outline: unset;
}


.btn {
    border: unset;
    border-radius2: unset;
    display2: unset;
    height2: unset;
    line-height: unset;
    padding: unset;
    text-transform: unset;
    vertical-align: unset;
    -webkit-tap-highlight-color: unset;
}


