html {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: contents;
}
a:hover {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  flex-basis: 333px;
  max-width: 333px;
  min-width: 333px;
  /* border: #f8f8f8 5px solid; */
  box-shadow: 0.5px 1px 5px 2px #ccc;
  border-radius: 5px;
  overflow: hidden;
  height: 420px;
  max-height: 420px;
}
.card-description {
  color: darkslategray;
  outline: none;
  padding: 0.75rem;
  padding-top: 0.25rem;
}
.card:hover {
  background-color: #f8f8f8;
  box-shadow: 0.5px 1px 5px 2px #aaa;
  transition: background-color 1s linear;
  transition: box-shadow 1s linear;
}
.card-image {
  background: white;
  display: flex;
  flex-shrink: 1;
  height: 210px;
  margin: 0 auto;
  max-height: 210px;
  max-width: 333px;
  max-width: fit-content;
  min-height: 210px;
  object-fit: cover;
  outline: none;
  padding: 0;
  width: 100%;
}
.card-title {
  border-top: 1px #ccc solid;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  /*text-align: center;*/
}
.card-type {
  border-bottom: 1px #ccc solid;
  color: black;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

code.hightlight {
  background-color: #cce6ff;
  border-radius: 3px;
  color: #007ae9;
  padding: 2px;
}
.codeblock {
  background: #eee;
  border: 1px #ccc solid;
  overflow-x: auto;
}

.content {
  padding-bottom: 20px;
}
.content img {
  max-width: 100%;
}

.flex {
  display: flex;
  overflow-x: hidden;
}
.flex-content {
  flex-basis: 1600px;
  max-width: 100%;
  padding: 20px;
}
.flex-content h1 {
  margin-top: 1rem;
}
.flex-content h2 {
  margin-top: 1rem;
}
.flex-content h3 {
  margin-top: 1rem;
}
.flex::before {
  content: "\a0";
  flex-grow: 1;
  width: 0px;
}
.flex::after {
  content: "\a0";
  flex-grow: 1;
  width: 0px;
}

.navbar {
  background: white;
  box-shadow: 0.5px 1px 5px 2px #ccc;
  padding: 8px;
  position: sticky;
  top: 0px;
  z-index: 1001;
}
.navbar-content {
  display: flex;
}
.navbar-icon {
  height: 2.5rem;
  padding-right: 5px;
}
.triply-logo {
  height: 1rem;
  max-height: 1rem;
  object-fit: cover;
  padding-left: 2px;
}
.navbar-title {
  align-items: center;
  color: #008dc9;
  display: flex;
  font-size: 1rem;
  padding: 0px 10px;
  text-decoration: none;
}
.navbar-title:hover {
  transition: background-color 0.2s ease-in;
  color: #00387d;
  background-color: #eee;
}
.navbar-title.active {
  color: #00387d;
}
.hamburger {
  cursor: pointer;
  align-self: center;
}
.hamburger:hover .hamburgerBar {
  background-color: #00387d;
  text-decoration: none;
}
.hamburger .hamburgerBar {
  width: 35px;
  height: 4px;
  background-color: #008dc9;
  margin: 5px 0;
  transition: 0.4s;
}
#mobileNav:checked + .hamburger .hamburgerBar:nth-child(2) {
  opacity: 0;
}
#mobileNav:checked + .hamburger .hamburgerBar:first-child {
  transform: rotate(-45deg) translate(-6px, 7px);
}
#mobileNav:checked + .hamburger .hamburgerBar:last-child {
  transform: rotate(45deg) translate(-6px, -7px);
}
.navbar-collapsible {
  display: flex;
}
.hamburger {
  display: none;
}

.powered {
  align-items: center;
  color: gray;
  display: flex;
  font-size: 0.75rem;
  padding-left: 5px;
}
@media only screen and (max-width: 500px) {
  .powered {
    display: none;
  }
}

.table {
  border: 1px #ccc solid;
  table-layout: fixed;
}
.table tbody tr:nth-child(even) {
  background-color: #eee;
}
.table td {
  border: 1px #ccc solid;
  padding: 0px 10px;
  word-wrap: break-word;
}
.table th {
  border: 1px #ccc solid;
  font-weight: bold;
  padding: 0px 10px;
}

ul {
  list-style-type: none;
  padding-left: 1em; /*use padding to move list item from left to right*/
}
ul li:before {
  content: "–";
  margin-left: -1em; /*change margin to move dash around*/
  position: absolute;
}

.space {
  flex-grow: 1;
  width: 20px;
}
dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dl dt {
    grid-column-start: 1;
    font-weight: bold;
  }
  dl dd {
    grid-column-start: 2;
    /* margin-left: 20px; */
}
.container {
  max-width: 100%;
}
.textbox {
  background-color: #84bace66;
  border-color: #00387d;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #00387d;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: relative;
}
.yasr .yasr_results .galleryWrapper .itemWrapper {
  width: 333px;
}
div.modal-dialog.google-visualization-charteditor-dialog {
  z-index: 6;
  width: unset;
  height: unset;
}
div.modal-dialog.google-visualization-charteditor-dialog * {
  box-sizing: content-box;
}
@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .navbar-collapsible {
    display: none;
    position: fixed;
    background: white;
    width: 100%;
    left: 0;
    right: 0;
    top: 56px;
  }
  @media all and (-ms-high-contrast: none) {
    .navbar-collapsible {
      position: absolute;
    }
  }
  .navbar-collapsible a .navbar-title {
    padding: 5px;
    border-bottom: 1px #00387d solid;
  }
  .navbar-collapsible a:first-child .navbar-title {
    border-top: 1px #00387d solid;
  }
  .navbar-collapsible a:last-child .navbar-title {
    box-shadow: 0.5px 1px 5px 2px #ccc;
  }
  /* This selector is used to select show the menu on mobile, it keeps selecting the next item. As css does not yet contain a parent selector we need to traverse each sibling*/
  #mobileNav:checked + .hamburger + .branding + .navbar-collapsible {
    display: block;
  }
}
