/* Primary blue: #00387d */
/* Secondary blue: #007ae9 */
/* Background blue #d9eef7 */
html {
  max-width: 100%;
  font-family: "Auto", Verdana, Arial, Helvetica, sans-serif;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  color: #00387d;
}
a {
  text-decoration: none;
  display: contents;
}
a:hover {
  text-decoration: none;
}
.banner {
  position: relative;
  height: 400px;
  width: 100%;
}
.banner-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.banner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent
    url(/assets/images/gradient-topbanner-repetitive-horizontal.png) repeat-x
    50% 100%;
  background-size: auto;
  background-size: auto 270px;
  z-index: 9;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  flex-basis: 333px;
  max-width: 333px;
  min-width: 333px;
  /* border: #f8f8f8 5px solid; */
  box-shadow: 0.5px 1px 5px 2px #ccc;
  border-radius: 5px;
  overflow: hidden;
  height: 420px;
  max-height: 420px;
}
.card-description {
  color: #333;
  outline: none;
  padding: 0.75rem;
  padding-top: 0.25rem;
}
.card:hover {
  background-color: #f8f8f8;
  box-shadow: 0.5px 1px 5px 2px #aaa;
  transition: background-color 1s linear;
  transition: box-shadow 1s linear;
}
.card-image {
  background: white;
  display: flex;
  flex-shrink: 1;
  height: 210px;
  margin: 0 auto;
  max-height: 210px;
  max-width: 333px;
  max-width: fit-content;
  min-height: 210px;
  object-fit: cover;
  outline: none;
  padding: 0;
  width: 100%;
}
.card-title {
  border-top: 1px #ccc solid;
  color: #00387d;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  /*text-align: center;*/
}
.card-type {
  border-bottom: 1px #ccc solid;
  color: #00387d;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

code.hightlight {
  background-color: #d9eef7;
  border-radius: 3px;
  color: #007ae9;
  padding: 2px;
}
.codeblock {
  background: #eee;
  border: 1px #ccc solid;
  overflow-x: auto;
}

.content {
  padding-bottom: 20px;
}
.content img {
  max-width: 100%;
}
.dropdown {
  display: flex;
}
.dropdown > .navbar-title :last-child::after {
  content: '';
  display: inline-block;
width: 0;
height: 0;
margin-left: 5px;
vertical-align: middle;
border-top: 4px dashed;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
  
}
.dropdown-items {
  display: none;
  position: absolute;
  background: #00387d;
  top: 136px;
  z-index: 10;
  padding: 12px;
}
.dropdown-items .navbar-title {
  color: white;
}
#buildingBlockMenu:checked + .navbar-title + .dropdown-items {
  display: block;
}
#buildingBlockMenu:checked + .navbar-title :last-child::after {
  transform: rotate(180deg)
}


.flex {
  display: flex;
  overflow-x: hidden;
}
.flex-content {
  flex-basis: 1600px;
  max-width: 100%;
  padding: 20px;
}
.flex-content h1 {
  margin-top: 1rem;
}
.flex-content h2 {
  margin-top: 1rem;
}
.flex-content h3 {
  margin-top: 1rem;
}
.flex::before {
  content: "\a0";
  flex-grow: 1;
  width: 0px;
}
.flex::after {
  content: "\a0";
  flex-grow: 1;
  width: 0px;
}

.navbar {
  background: white;
  box-shadow: 0.5px 1px 5px 2px #ccc;
  padding: 24px 0;
  line-height: 1.5;
  font-size: 18px;
}
.navbar-content {
  display: flex;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .navbar-content {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-content {
    width: 1170px;
  }
}
.navbar-icon {
  /* height: 2.5rem; */
  padding-right: 5px;
}
.navbar-title {
  align-items: end;
  color: #00387d;
  display: flex;
  font-size: 1rem;
  padding: 0px 10px;
  text-decoration: none;
}
.navbar-title:hover {
  text-shadow: 1px 0 0;
}
.navbar-title.active {
  text-shadow: 1px 0 0;
}
.hamburger {
  cursor: pointer;
  align-self: center;
}
.hamburger:hover .hamburgerBar {
  background-color: #00387d;
  text-decoration: none;
}
.hamburger .hamburgerBar {
  width: 35px;
  height: 4px;
  background-color: #00387d;
  margin: 5px 0;
  transition: 0.4s;
}
#mobileNav:checked + .hamburger .hamburgerBar:nth-child(2) {
  opacity: 0;
}
#mobileNav:checked + .hamburger .hamburgerBar:first-child {
  transform: rotate(-45deg) translate(-6px, 7px);
}
#mobileNav:checked + .hamburger .hamburgerBar:last-child {
  transform: rotate(45deg) translate(-6px, -7px);
}
.navbar-collapsible {
  display: flex;
  flex-grow: 1;
}
.hamburger {
  display: none;
}

.table {
  border: 1px #ccc solid;
  table-layout: fixed;
}
.table tbody tr:nth-child(even) {
  background-color: #eee;
}
.table td {
  border: 1px #ccc solid;
  padding: 0px 10px;
  word-wrap: break-word;
}
.table th {
  border: 1px #ccc solid;
  font-weight: bold;
  padding: 0px 10px;
}

ul {
  list-style-type: none;
  padding-left: 1em; /*use padding to move list item from left to right*/
}
ul li:before {
  content: "–";
  margin-left: -1em; /*change margin to move dash around*/
  position: absolute;
}

.space {
  flex-grow: 1;
  width: 20px;
}

dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 20px;
}
figure {
  text-align: center;
}
.container {
  max-width: 100%;
}
.branding .navbar-title {
  flex-shrink: 0;
}
.textbox {
  background-color: #d9eef7;
  border-color: #00387d;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #00387d;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: relative;
}
div.modal-dialog.google-visualization-charteditor-dialog {
  z-index: 6;
  width: unset;
  height: unset;
}
div.modal-dialog.google-visualization-charteditor-dialog * {
  box-sizing: content-box;
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    margin-left: 10%;
  }
  .navbar-collapsible {
    display: none;
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    top: 136px;
    z-index: 10;
  }
  .navbar-collapsible .space {
    display: none;
  }
  @media all and (-ms-high-contrast: none) {
    .navbar-collapsible {
      position: absolute;
    }
  }
  .navbar-collapsible a .navbar-title {
    padding: 5px;
    border-bottom: 1px #00387d solid;
  }
  .navbar-collapsible > a:first-child .navbar-title {
    border-top: 1px #00387d solid;
  }
  .navbar-collapsible > a:last-child .navbar-title {
    box-shadow: 0.5px 1px 5px 2px #ccc;
  }
  /* This selector is used to select show the menu on mobile, it keeps selecting the next item. As css does not yet contain a parent selector we need to traverse each sibling*/
  #mobileNav:checked + .hamburger + .branding + .navbar-collapsible {
    display: block;
  }
  /* Make the dropdown menu part of the normal menu again */
  .dropdown {
    display: block;
  }
  .dropdown-items {
    display: block;
    position: unset;
    background: transparent;
    padding: 0;
  }
  .dropdown > .navbar-title {
    display: none;
  }
  .dropdown .navbar-title {
    color: #00387d;
  }
}
