<!DOCTYPE html>
<html lang="{{ site.lang | default: 'nl-NL' }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="/navigatiebalk/kadaster_logo.png">
  <link rel="apple-touch-icon" href="/navigatiebalk/kadaster_logo.png">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
  <link rel="stylesheet" href="{{ '/assets/css/theme.css?v=' | append: site.github.build_revision }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

<body>
  <div class="content">
    <nav class="navbar">
      <div class="navbar-content">
        {%- comment -%} When adding changes within this make sure that the selector for the mobile menu still works as
        it traverses each sibling. {%- endcomment -%}
        <input id="mobileNav" type="checkbox" style="display:none">
        <label for="mobileNav" class="hamburger">
          <div class="hamburgerBar"></div>
          <div class="hamburgerBar"></div>
          <div class="hamburgerBar"></div>
        </label>
        <a href="/" class="branding">
          <div class="navbar-title">
            <img class="navbar-icon" src="/navigatiebalk/logo_kadaster.png" alt="Logo Kadaster">
          </div>
        </a>
        <div class="navbar-collapsible">
          <a href="/navigatiebalk/publicaties">
            <div class="navbar-title">Publicaties</div>
          </a>
          <a href="/navigatiebalk/stages">
            <div class="navbar-title">Stages</div>
          </a>

          <div class="space"></div>

          <a href="/navigatiebalk/toegankelijkheid">
            <div class="navbar-title">Toegankelijkheid</div>
          </a>
          <a href="/navigatiebalk/over_ons">
            <div class="navbar-title">Over ons</div>
          </a>
        </div>
      </div>
    </nav>
    <section class="content">
      {{ content }}
    </section>


    <footer class="footer">
      <div class="footer-bar">
        <div class="footer-bar-item">
          <a href="https://www.kadaster.nl/disclaimer" class="footer-link">disclaimer</a>
        </div>
        <div class="footer-bar-item">
          <a href="/toegankelijkheid" class="footer-link">toegankelijkheid</a>
        </div>
        <div class="footer-bar-item">
          <a href="https://catalogus.kadaster.nl/nl/" class="footer-link">woordenboek</a>
        </div>
        <div class="footer-bar-item">
          <a href="https://kadaster.nl/" class="footer-link">kadaster.nl</a>
        </div>
        <div class="footer-bar-item">
          <a href="https://developer.kadaster.nl/" class="footer-link">developer.kadaster.nl</a>
        </div>
      </div>
    </footer>

  </div>
  <script src="/assets/js/main.js"></script>
</body>

</html>